<!DOCTYPE html>
<html>
	<!--
	CSE 154, Homework 5 (Weather)
	You should download and use this weather.html, but do not need to modify it.
	-->
	
	<head>
		<title>ViewLOS</title>
		<link href="{{ url_for('static', filename='ViewLOS.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<h1 align="center">
			Welcome to ViewLOS
		</h1>

		<div align="center">
		<div id="namearea" style="background-color:lightblue;width: 20%;text-align: center;display: inline-block;border-radius:20px;" >
				<table border="0" align="center">
					<tr>
						<th align="center">Please insert the information of the patient:</th>
						<br>
					</tr>
				</table>
				<form action="{{ url_for('handle_data') }}" method="post">
				<table border="0" align="center">

					<tr>
						<br>
						<td align="right">
							Admission Location: 
						</td>

						<td>
								<input name="name" list="admitlocations" style="background-color:lightblue;">
						</td>
						<datalist id="admitlocations">
						  <option value="0">EMERGENCY ROOM ADMIT</option>
						  <option value="1">PHYS REFERRAL/NORMAL DELI</option>
						  <option value="2">TRANSFER FROM HOSP/EXTRAM</option>
						  <option value="3">CLINIC REFERRAL/PREMATURE</option>
						  <option value="4">TRANSFER FROM OTHER HEALT</option>
						  <option value="5">** INFO NOT AVAILABLE **</option>
						  <option value="6">TRANSFER FROM SKILLED NUR</option>
						  <option value="7">TRSF WITHIN THIS FACILITY</option>
						</datalist>
					</tr>

					<tr>
						<td align="right">
							Discharge Location:  
						</td>

						<td>
							<input name="dob" list="dischargelocations" style="background-color:lightblue;">
						</td>
						<datalist id="dischargelocations">
						  <option value="0">DISC-TRAN CANCER/CHLDRN H</option>
						  <option value="1">HOME HEALTH CARE</option>
						  <option value="2">HOME</option>
						  <option value="3">REHAB/DISTINCT PART HOSP</option>
						  <option value="4">LONG TERM CARE HOSPITAL</option>
						  <option value="5">SNF</option>
						  <option value="6">SHORT TERM HOSPITAL</option>
						  <option value="7">HOME WITH HOME IV PROVIDR</option>
						  <option value="8">LEFT AGAINST MEDICAL ADVI</option>
						  <option value="9">DISCH-TRAN TO PSYCH HOSP</option>
						  <option value="10">HOSPICE-HOME</option>
						  <option value="11">HOSPICE-MEDICAL FACILITY</option>
						  <option value="12">DISC-TRAN TO FEDERAL HC</option>
						  <option value="13">OTHER FACILITY</option>
						  <option value="14">ICF</option>
						</datalist>
					</tr>

					<tr>
						<td align="right">
							Marital Status:   
						</td>

						<td>
							<input name="admittime" list="marriage" style="background-color:lightblue;">
						</td>
						<datalist id="marriage">
						  <option value="0">MARRIED</option>
						  <option value="1">SINGLEI</option>
						  <option value="2">DIVORCED</option>
						  <option value="3">WIDOWED</option>
						  <option value="4">SEPARATED</option>
						  <option value="5">LIFE PARTNER</option>
						  <option value="6">UNKNOWN</option>
						</datalist>
					</tr>

					<tr>
						<td align="right">
							Age:    
						</td>

						<td>
							<input name="test1" style="background-color:lightblue;">

						</td>
					</tr>

					<tr>
						<td align="right">
							Service Count:    
						</td>

						<td>
								<input name="test2" style="background-color:lightblue;">
						</td>
					</tr>

					<tr>
						<td align="right">
							ICU LOS:    
						</td>

						<td>
								<input name="test3" style="background-color:lightblue;">
						</td>
					</tr>
				</table>

				<table border="0" align="center">
					<br>
					<tr>
						<td>
							<input type="submit" value="Submit">   
						</td>
					</tr>
				</table>
				<br>
			</form>

		</div>
		</div>

		
		<!-- an empty div for inserting any error text -->
		<div id="errors"></div>
	</body>
</html>
