<!DOCTYPE html>
<html>
	<!--
	CSE 154, Homework 5 (Weather)
	You should download and use this weather.html, but do not need to modify it.
	-->
	
	<head>
		<title>ViewLOS</title>
		<link href="{{ url_for('static', filename='ViewLOS.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<h1 align="center">
			Welcome to ViewLOS
		</h1>

		<div align="center">
		<div id="namearea" style="background-color:lightblue;width: 20%;text-align: center;display: inline-block;border-radius:20px;" >
				<table border="0" align="center">
					<tr>
						<th align="center">Please insert the information of the patient:</th>
						<br>
					</tr>
				</table>
				<form action="{{ url_for('handle_data') }}" method="post">
				<table border="0" align="center">

					<tr>
						<br>
						<td align="right">
							Name: 
						</td>

						<td>
							<form >
								<input name="name" style="background-color:lightblue;">
							</form>
						</td>
					</tr>

					<tr>
						<td align="right">
							DOB:  
						</td>

						<td>
							<input name="dob" style="background-color:lightblue;">

						</td>
					</tr>

					<tr>
						<td align="right">
							Admit time:   
						</td>

						<td>
							<input name="admittime" style="background-color:lightblue;">
						</td>
					</tr>

					<tr>
						<td align="right">
							Test1:    
						</td>

						<td>
							<input name="test1" style="background-color:lightblue;">

						</td>
					</tr>

					<tr>
						<td align="right">
							Test2:    
						</td>

						<td>
								<input name="test2" style="background-color:lightblue;">
						</td>
					</tr>

					<tr>
						<td align="right">
							Test3:    
						</td>

						<td>
								<input name="test3" style="background-color:lightblue;">
						</td>
					</tr>
				</table>

				<table border="0" align="center">
					<br>
					<tr>
						<td>
							<input type="submit" value="Submit">   
						</td>
					</tr>
				</table>
				<br>
			</form>

		</div>
		</div>

		
		<!-- an empty div for inserting any error text -->
		<div id="errors"></div>
	</body>
</html>
